{% extends 'base.html.twig' %}

{% block title %}Guestbook{% endblock %}

{% block body %}

<div>
<h1>Welcome to guestbook!</h1>
<p>Please leave a message down below.</p>
</div>
<div>
<form action="{{path('create')}}">
<label for="name">Your name</label>
<input type="text" name="name" id="name" />
<lable for="message">Your message</label>
<textarea name="message"></textarea>
<input type="submit" value="Post entry" />
</form>
</div>
<div>
<h2>This will have the guestbook entries.</h2>
</div>
{% endblock %}
